streamlit>=1.28.0
langchain>=0.1.0
langchain-openai>=0.0.2
langchain-community>=0.0.10
langchain-text-splitters>=0.0.1
openai>=1.6.1
faiss-cpu
pypdf>=3.17.4
python-dotenv>=1.0.0
tiktoken>=0.5.2
supabase>=2.0.0
